<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="img/logo_simbolo.png" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/style-secondary-pages.css" rel="stylesheet" type="text/css">
    <link href="css/style-form-pages.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
</head>
<main>
        <section id="inicio-contato">
            <img id="img-contato" src="img/contato.png" alt="">
        </section>

        <section id="principal">
            <div class="centro">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
                    width="500" height="570" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="centro">
                <p>QUER SABER MAIS SOBRE O ROLE TOP?
                    Entre em contato através do nosso email e também
                    deixe seu comentário/avaliação:</p>
                <form>
                    <p class="cadastro">Nome:</p><br>
                    <input type="field" name="name" value=""><br>
                    <p class="cadastro">E-mail:</p><br>
                    <input type="field" name="e-mail" value=""><br><br>
                    <p class="cadastro">Telefone:</p><br>
                    <input type="text" name="Telefone" value=""><br><br>
                    <p class="cadastro">Comentários:</p> <br>
                    <textarea class"field" name"comentário" placeholder="Digite sua mensagem aqui"></textarea>
                    </br></br>
                    <input class="button" type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </main>