section {
    text-align: center;
}

header #cabeçalho{
    width: 100%;
    position: absolute;
    display:flex;
    justify-content: space-between;
}

#logo{
    width: 120px;
    margin: 10px 0 0 10px;
}
.icone-x{
margin: 10px 50px 0 0;
font-size: 60px !important;
color: white
}
#redes-sociais{
    margin: 10px 0 0 0;
}

#redes-sociais img{
    width: 60px;
}

#img-contato{
    width: 100%;
}

body{
    margin: 0%;
    background-color: black;
}

#principal{
    display: flex;
    justify-content: space-around;
    margin: 0 0 40px 0;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    
}

.centro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;

 }

 footer{
    background-color: #7D0093;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    width: 100%;
    color: white;
 }

 footer p {
    font-size: 25px;

}

.centro p{
    color: white;
}

input{
    font-size: xx-large
}

.cadastro{
    font-size: 40px;
}

.button{

    background-color: gray;
    width: 200px;
    border-radius: 14px;
    font-size: 24px;
    color: black;
}


textarea{
    padding: 150px;
}