<main>
        <section id="inicio-historia">
            <img id="img-historia" src="~/img/historia.jpg" alt="">
            <h1>Role Top</h1>
        </section>
        <section id="informacoes">
            <div class="foto">
                <p>Criado por amigos durante uma viagem,
                    para que as pessoas pudessem ter um
                    grande espaço ( 150x40), onde pudesse
                    suportar diversos tipos de eventos...</p>
            </div>
            <img class="foto border" src="~/img/fachada.jpg">
            <img class="foto border" src="~/img/planta1.jpg">
            <img class="foto border" src="~/img/planta2.jpg">

        </section>
    </main>