<main>
        <section id="inicio-historia">
            <img id="img-historia" src="img/7.jpg" alt="">
            <h1>Galeria de Fotos</h1>
        </section>


        <section id="informacoes">
            <img class="foto border" src="img/1.jpg">
            <img class="foto border" src="img/4.png">
            <img class="foto border" src="img/2.jpg">
            <img class="foto border" src="img/5.jpg">
            <img class="foto border" src="img/3.jpg">
            <img class="foto border" src="img/6.jpg">
        </section>
    </main>