<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="img/logo_simbolo.png" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/style-secondary-pages.css" rel="stylesheet" type="text/css">
    <link href="css/style-form-pages.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    <title>Galeria</title>
    <link rel="stylesheet" type="text/css" href="style-galeria.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<main>
        <section id="inicio-historia">
            <img id="img-historia" src="img/7.jpg" alt="">
            <h1>Galeria de Fotos</h1>
        </section>


        <section id="informacoes">
            <img class="foto border" src="img/1.jpg">
            <img class="foto border" src="img/4.png">
            <img class="foto border" src="img/2.jpg">
            <img class="foto border" src="img/5.jpg">
            <img class="foto border" src="img/3.jpg">
            <img class="foto border" src="img/6.jpg">
        </section>
    </main>