<main>
        <section id="inicio">
            <img id="img-home" src="img/home.jpg" alt="imagem de Festa de Casamento" title="home-imagem" />

            <h1>Bem vindo ao Role Top</h1>
            <p>Venha conhecer o Role Top, melhor casa de eventos de São Paulo,
                para você fazer seus eventos e festas.
            </p>
            <a href="contrate.html"><input class="button" type="submit" value="Faça sua Reserva"></a>

        </section>
        
        <section id="galeria-de-fotos">
            <div class="foto">
                <p>As melhores Festas e Eventos acontecem aqui.
                    Veja tudo isso na nossa Galerias de Fotos.</p>
                    <input class="button" type="submit" value="Galeria de Fotos">
            </div>
            <img class="foto border" src="img/foto1.jpg" alt="">
            <img class="foto border" src="img/foto2.jpg" alt="">
            <img class="foto border" src="img/foto3.jpg" alt="">

        </section>
    </main>

    <h1>Role Top</h1>

    <section id="historia">
        <div class="foto">
            <p>É um lugar único com o intuito de disponibilizar
                o melhor espaço, onde sejam criadas as melhores festas e eventos.
                Que sua criatividade seja explorada para criar os melhores ambientes
                para ter aquele Role Top.</p>
        
                <input class="button" type="submit" value="Conheça o Role Top">
        </div>
        <img class="foto border" src="img/fachada.jpg">

    </section>


    <section id="local">
        <h1>Veja o Trajeto mais rápido</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>